import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.ticker import FuncFormatter
from matplotlib.colors import LinearSegmentedColormap
from mpl_toolkits.mplot3d import Axes3D
import streamlit as st
import yfinance as yf
from datetime import datetime, timedelta
from scipy.stats import norm
from scipy.interpolate import griddata